<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Stripe Getting Started Form</title>
        
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
		<script src="http://localhost:3000/js/pay.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
  <h1>Sign up for Grid Pro Plan</h1>
  <!-- to display errors returned by createToken -->
  <span class="payment-errors"></span>
  <form action="" method="POST" id="payment-form">
      <div class="form-row">
          <label>Card Number</label>
          <input type="text" size="20" autocomplete="off" class="card-number" value="4242424242424242" />
      </div>
      <div class="form-row">
          <label>CVC</label>
          <input type="text" size="4" autocomplete="off" class="card-cvc" value="123" />
      </div>
      <div class="form-row">
          <label>Expiration (MM/YYYY)</label>
          <input type="text" size="2" class="card-expiry-month" value="12" />
          <span> / </span>
          <input type="text" size="4" class="card-expiry-year" value="2014" />
      </div>
      <button type="submit" class="submit-button">Submit Payment</button>
  </form>

</body>
</html>