<h1>The Grid</h1>
<p><em>Reserve your name by signing up for one of the below plans</em></p>

<p><a href="/plans_basic">Basic: $20</a></p>
<p><em>One time $20 payment to support the development of the Grid. You will be added The Grid List of Contributors, receive email updates on our progress and a Grid hat in the mail!</em></p>
<p><a href="/plans_pro">Pro: $100 per year</a></p>
<p><a href="/plans_developer">Developer: $240 per year</a></p>